package pages

import (
	"github.com/davidtemelkov/plantera-go/components"
	"github.com/davidtemelkov/plantera-go/data"
)

templ Plants(plants []data.Plant) {
	@Layout() {
		<button class="mt-5" hx-get="/plants/modal/open" hx-target="body" hx-swap="beforeend">
			Add Plant
		</button>
		<div class="mt-5">
			@components.PlantGrid(plants, true)
		</div>
	}
}
